__pycache__/
*.py[cod]
*$py.class
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Environments / secrets
.env

# Editor settings
.idea/
.vscode/

# Data outputs 
social_data.xlsx
clean_data.xlsx
file_with_embeddings.xlsx
file_with_clusters.xlsx

# OS files
Thumbs.db
Desktop.ini
